<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BiamIO</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css'>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/snake.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/sweetalert.css') }}">

    <!-- 소켓 통신 관련 부분은 영상을 gen하는 것보다 빨라야 하기 때문에 위쪽에 위치 -->
    <script>
        var client_socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );
        // var server_socket = io.connect("http://krafton604.iptime.org");
        var server_socket = io.connect("http://dlsrks99.site:8080");
    
        let room_id = "{{room_id}}";
    
        // 서버와 통신개시 후 포트를 요청
        server_socket.on("connect", function () {
          server_socket.emit('my_port', { 'room_id': room_id });
        });
        // 서버에서 받은 나의 포트를 로컬 flask 서버로 전송
        server_socket.on("my_port", function (data) {
          client_socket.emit('my_port', { 'my_port': data['my_port'] })
        });
        // 서버에서 받은 상대의 주소를 로컬 flask 서버로 전송
        server_socket.on('opponent_address', function (data) {
          client_socket.emit('opponent_address', {
            'ip_addr': data['ip_addr'],
            'port': data['port']
          })
        });
        client_socket.on('game_ready', function () {
          server_socket.emit('user_ready', { 'room_id': room_id })
        })
        server_socket.on('game_start', function () {
          client_socket.emit('game_start')
        })
      </script>
</head>

<body>

<audio id="bgm" autoplay loop>
    <source src="{{ url_for('static', filename= 'bgm/snake_dual.mp3') }}" type="audio/mpeg">
</audio>

<script>
    document.getElementById('bgm').addEventListener('ended', function () {
        this.currentTime = 0;
    }, false);
</script>

<div class="retrogrid">
    <canvas></canvas>
</div>

<div id = "skillwarning-msg" class="col-sm-12">
    <div class="alert fade alert-simple alert-warning text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
        <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
        <strong class="font__weight-semibold">주의!</strong> 상대방이 스킬 발동 중입니다! 5초동안 충돌을 피하세요!!
    </div>
</div>

<section class="wrapper">
    <div class="hud-top">
        <div class="myscore">
            <p>SCORE :&nbsp;</p>
            <p id="my_score">0</p>
        </div>
        <div class="opponentscore">
            <p>P2 SCORE :&nbsp;</p>
            <p id="opp_score">0</p>
        </div>
        <div class="timer" style="visibility: hidden;">
            <p>TIME :&nbsp;</p>
            <p></p>
        </div>
    </div>
    <div class="gamesection-container">
        <div id="ambient" class="ambient"></div>
        <div class="cam-container">
            <img class="cam-feed" id="snake_video" src=" {{ url_for('snake') }} " onload="showImage()">
        </div>
        <div class="cam-alt-container">
            <img class="cam-feed-alt" src="{{ url_for('static', filename= 'images/placeholder.png') }}">
        </div>
        <div class="countdown-container">
            <div class="countdown countdown--wide" id="countdown">
                <div class="countdown__fill" id="ticker"></div>
                <div class="countdown__digit" id="seconds">READY</div>
            </div>
        </div>
        <script>
            const signalSound = new Audio("{{ url_for('static', filename= 'bgm/countdown.mp3') }}");
            const ct = document.querySelector('.countdown-container');

            function showImage() {
                document.getElementById("snake_video").style.display = "block";

                signalSound.play()

                setTimeout(function () {
                    ct.classList.add('hidden');
                }, 3500);

                function Timer(duration, element) {
                    var self = this;
                    this.duration = duration;
                    this.element = element;
                    this.running = false;

                    this.els = {
                        ticker: document.getElementById('ticker'),
                        seconds: document.getElementById('seconds'),
                    };
                }

                Timer.prototype.start = function () {
                    var self = this;
                    var start = null;
                    this.running = true;
                    var remainingSeconds = this.els.seconds.textContent = this.duration / 1000;

                    function draw(now) {
                        if (!start) start = now;
                        var diff = now - start;
                        var newSeconds = Math.ceil((self.duration - diff) / 1000);

                        if (diff <= self.duration) {
                            self.els.ticker.style.height = 100 - (diff / self.duration * 100) + '%';

                            if (newSeconds != remainingSeconds) {
                                self.els.seconds.textContent = newSeconds;
                                remainingSeconds = newSeconds;
                            }

                            self.frameReq = window.requestAnimationFrame(draw);
                        } else {
                            //self.running = false;
                            self.els.seconds.textContent = "GO";
                            self.els.ticker.style.height = '0%';
                            self.element.classList.add('countdown--ended');
                        }
                    };

                    self.frameReq = window.requestAnimationFrame(draw);
                }

                Timer.prototype.reset = function () {
                    this.running = false;
                    window.cancelAnimationFrame(this.frameReq);
                    this.els.seconds.textContent = this.duration / 1000;
                    this.els.ticker.style.height = null;
                    this.element.classList.remove('countdown--ended');
                }

                Timer.prototype.setDuration = function (duration) {
                    this.duration = duration;
                    this.els.seconds.textContent = this.duration / 1000;
                }

                var timer = new Timer(3000, document.getElementById('countdown'));
                timer.start();
            }
        </script>
    </div>
    <div class="debug-wrapper" style="visibility: hidden;">
        <div class="accordion draggable">
            <div class="accordion handle" role="tablist" id="accordion-1">
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion-1 .item-1" aria-expanded="false"
                                aria-controls="accordion-1 .item-1">
                            SNAKE INFO
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="accordion-body">
                            <p class="mb-0">
                            <div><a>Network Mode : </a><a id="UDP"></a></div>

                            <div><a>CAM fps : </a><a id="fps"></a></div>

                            <div><a>먹이 X 좌표 : </a><a id="food_x"></a></div>
                            <div><a>먹이 Y 좌표 : </a><a id="food_y"></a></div>

                            <div><a>HEAD X 좌표 : </a><a id="head_x"></a></div>
                            <div><a>HEAD Y 좌표 : </a><a id="head_y"></a></div>

                            <div><a>몸통 리스트 : </a><a id="body_node"></a></div>

                            <div><a>상대 스코어 : </a><a id="opp_score_console"></a></div>
                            <div><a>상대 HEAD X 좌표 : </a><a id="opp_head_x"></a></div>
                            <div><a>상대 HEAD Y 좌표 : </a><a id="opp_head_y"></a></div>
                            <div><a>상대 몸통 리스트 : </a><a id="opp_body_node"></a></div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const ambient = document.querySelector('.ambient');

    var h2h_distance = 0;

    // 1280x720 해상도의 16등분 공간의 대각선 길이
    var danger_distance = 367;

    var caution_distance = danger_distance * 1.25;


    client_socket.on("h2h_distance", function (data) {
        h2h_distance = data;

        if (h2h_distance > caution_distance) {
            var color = "rgb(" + 0 + ", " + 255 + ", 0)";
        } else if (h2h_distance > danger_distance) {
            var color = "rgb(" + 255 + ", " + 255 + ", 0)";
        } else {
            var color = "rgb(" + 255 + ", " + 0 + ", 0)";
        }

        ambient.style.backgroundColor = color;
    });
</script>

<script>
    const accordions = document.querySelectorAll('.draggable');

    // add event listeners to accordion headers
    accordions.forEach(accordion => {
        const handle = accordion.querySelector('.handle');
        let isDragging = false;
        let startPosX, startPosY, currentPosX, currentPosY;

        // handle mousedown event
        handle.addEventListener('mousedown', event => {
            event.preventDefault();
            isDragging = true;
            startPosX = event.clientX;
            startPosY = event.clientY;
            currentPosX = accordion.offsetLeft;
            currentPosY = accordion.offsetTop;
            accordion.style.zIndex = 1;
        });

        // handle mousemove event
        document.addEventListener('mousemove', event => {
            if (isDragging) {
                const deltaX = event.clientX - startPosX;
                const deltaY = event.clientY - startPosY;
                accordion.style.left = `${currentPosX + deltaX}px`;
                accordion.style.top = `${currentPosY + deltaY}px`;
            }
        });

        // handle mouseup event
        document.addEventListener('mouseup', event => {
            isDragging = false;
            accordion.style.zIndex = 0;
        });
    });
</script>

<script>

    const gameWin = new Audio("{{ url_for('static', filename= 'bgm/gameWin.mp3') }}");
    const gameOver = new Audio("{{ url_for('static', filename= 'bgm/gameOver.mp3') }}");
    const error_sound = new Audio("{{ url_for('static', filename= 'bgm/error.mp3') }}");

    client_socket.on("NetworkMode", function (data) {
        $("#UDP").text(data["UDP"]);
    });
    client_socket.on("game_data_for_debug", function (data) {
        $("#my_score").text(data["score"]);
        $("#fps").text(data["fps"]);
    });
    client_socket.on("finger_cordinate", function (data) {
        $("#head_x").text(data["head_x"]);
        $("#head_y").text(data["head_y"]);
    });
    client_socket.on("bot_data", function (data) {
        $("#bot_head_x").text(data["head_x"]);
        $("#bot_head_y").text(data["head_x"]);
    })
    ;client_socket.on("foodPoint", function (data) {
        $("#food_x").text(data["food_x"]);
        $("#food_y").text(data["food_y"]);
    });
    client_socket.on("opp_cut_idx", function (data) {
        server_socket.emit('skill_cutting_idx', {'cut_idx': data["cut_idx"], 'room_id': room_id});
    });
    server_socket.on("skill_cutted_idx", function (data) {
        client_socket.emit("cutted_idx", { 'cutted_idx': data['cutted_idx'] });
      });
    // 로컬에서 보낸 내 위치 서버에게 보내기
    client_socket.on("game_data", function (data) {
        $("#body_node").text(data["body_node"]);
        server_socket.emit("send_data", {
            body_node: data["body_node"],
            room_id: room_id
        });
    });
    // 서버에서 받은 상대 위치 내 로컬에 보내기
    server_socket.on("opp_data", function (data) {
      $("#opp_body_node").text(data["opp_body_node"]);
      client_socket.emit("opp_data_transfer", { 'opp_body_node': data['opp_body_node'] });
    });
    // 내가 먹이를 먹은 경우, 서버에게 알리기
    client_socket.on('user_ate_food', function (data) {
        $("#my_score").text(data["score"]);
        server_socket.emit('user_ate_food', {'score': data["score"], 'room_id': room_id});
    })
    // 내가 먹이를 먹은 경우, 서버에게 새로운 먹이 위치를 받은 것을 로컬에게 보냄
    server_socket.on('ate_user', function (data) {
        client_socket.emit('set_food_location', {'foodPoint': data['foodPoint']});
    })
    // 상대가 먹이를 먹은 경우, 서버에게 받은 새 먹이위치와 상대점수 로컬에게 보냄
    server_socket.on('ate_user_opp', function (data) {
        $("#opp_score").text(data["opp_score"]);
        client_socket.emit('set_food_location_score', {'foodPoint': data['foodPoint'], 'opp_score': data['opp_score']});
    })
    client_socket.on("warning", function (data) {
        isOppskill = data["opp_skill"]
        if (isOppskill === 1) {
            // Show HTML element
            document.getElementById("skillwarning-msg").style.display = "block"

            // Hide HTML element after 2 seconds
            setTimeout(function () {
                document.getElementById("skillwarning-msg").style.display = "none"
            }, 2000)
        }
    })
    // 상대가 탈주한 경우(매칭 중 또는 서버로 게임하던 중)
    server_socket.on('opponent_escaped', function () {
        client_socket.emit("gen_break");
        error_sound.play()
        Swal.fire({
            title: "Player 2 Left!!",
            html: "상대가 게임을 떠났습니다.",
            imageUrl: "{{ url_for('static', filename= 'player_left.png') }}",
            timer: 5000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            window.location.href = "/index";
        });
    })
    // 상대가 탈주한 경우(udp로 게임하던 중)
    client_socket.on('opponent_escaped', function () {
        client_socket.emit("gen_break");
        error_sound.play()
        Swal.fire({
            title: "Player 2 Left!!",
            html: "상대가 게임을 떠났습니다.",
            imageUrl: "{{ url_for('static', filename= 'player_left.png') }}",
            timer: 3000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            window.location.href = "/index";
        });
    })
    // TODO
    client_socket.on("gameover", function () {
        server_socket.emit("gameover_to_server", {'room_id': room_id});
    });
    server_socket.on("gameover_to_clients", function (data) {
        client_socket.emit("gen_break");
        if (data['result']) { // 이긴 경우
            gameWin.play()
            setTimeout(function() {
                Swal.fire({
                    title: "You Win!",
                    html: "이겼습니다!",
                    imageUrl: "{{ url_for('static', filename= 'game_win.png') }}",
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then((result) => {
                    window.location.href = "/index";
                });
            }, 2000); // 1 second delay

        } else { // 진 경우
            gameOver.play()

            setTimeout(function() {
                Swal.fire({
                    title: "You Lost!",
                    html: "졌습니다!",
                    imageUrl: "{{ url_for('static', filename= 'game_over.png') }}",
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then((result) => {
                    window.location.href = "/index";
                });
            }, 2000); // 1 second delay
        }
    });
</script>

<script>
    let canvas = document.querySelector('canvas');
    let c = canvas.getContext('2d');

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    window.addEventListener('resize', () => {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    });

    let HorizontalArray = [];

    function Horizontal(y) {
        this.y = y;
        this.dy = 0.5;
        this.opacity = 0;

        this.draw = () => {
            c.beginPath();
            c.lineWidth = 5;
            c.strokeStyle = `rgba(255, 0, 255, ${this.opacity})`;
            c.moveTo(0, this.y);
            c.lineTo(canvas.width, this.y);
            c.stroke();
        }

        this.update = () => {
            if (this.y >= canvas.height) {
                HorizontalArray.splice(HorizontalArray.indexOf(this), 1);
            }

            this.opacity += 0.003;

            this.dy += 0.05;
            this.y += this.dy;
            this.draw();
        }
    }

    let grad = c.createLinearGradient(0, canvas.height, 0, 0);
    grad.addColorStop("0", "rgba(255, 0, 255, 0.5)");
    grad.addColorStop("0.55", "rgba(255, 0, 255, 0)");
    grad.addColorStop("1.0", "rgba(255, 0, 255, 0)");
    let VerticalArray = [];

    function Vertical(x) {
        this.x = x;

        this.draw = () => {
            c.beginPath();
            c.lineWidth = 5;
            c.strokeStyle = grad;
            c.moveTo(canvas.width / 2, 200);
            c.lineTo(this.x, canvas.height);
            c.stroke();
        }

        this.update = () => {
            this.draw();
        }
    }

    let interval = (canvas.width / 10);
    let cross = 0 - interval * 8;
    for (let i = 0; i < 27; i++) {
        VerticalArray.push(new Vertical(cross));
        cross += interval;
    }

    setInterval(() => {
        HorizontalArray.push(new Horizontal(canvas.height / 2));
    }, 300);

    function animate() {
        requestAnimationFrame(animate);
        c.clearRect(0, 0, canvas.width, canvas.height);

        for (let i = 0; i < HorizontalArray.length; i++) {
            HorizontalArray[i].update();
        }
        for (let i = 0; i < VerticalArray.length; i++) {
            VerticalArray[i].update();
        }
    }

    animate();
</script>
<script src="{{ url_for ('static', filename = 'assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
