<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BiamIO</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/testbed.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/sweetalert.css') }}">
</head>

<body>

<audio id="bgm" autoplay loop>
    <source src="{{ url_for('static', filename= 'bgm/snake_single.mp3') }}" type="audio/mpeg">
</audio>

<script>
    document.getElementById('bgm').addEventListener('ended', function () {
        this.currentTime = 0;
    }, false);
</script>

<div class="retrogrid">
    <canvas></canvas>
</div>


<section class="wrapper">

    <div class="hud-top">
        <div class="myscore">
            <p>SCORE :</p>
            <p id="my_score">0</p>
        </div>
        <div class="opponentscore">
            <p>BEST :</p>
            <p id="best_score">0</p>
        </div>
        <div id="timer" class="timer">
            <p>TIME LEFT :</p>
            <p id="test_timer">00</p>
            <p>s</p>
        </div>
        <script>
            var isRed = false;
            var blinkInterval = null;
            var warningSound = new Audio("{{ url_for('static', filename= 'bgm/beep.mp3') }}");
        </script>
    </div>
    <div class="gamesection-container">
        <div id="ambient" class="ambient"></div>
        <div class="cam-container">
            <img class="cam-feed" id="snake_video" src="{{ url_for('test') }}" onload="showImage()">
            <script>
                function showImage() {
                    document.getElementById("snake_video").style.display = "block";
                }
            </script>
        </div>
        <div class="cam-alt-container">
            <img class="cam-feed-alt" src="{{ url_for('static', filename= 'images/placeholder.png') }}">
        </div>
        <div class="countdown-container">
            <div class="countdown countdown--wide" id="countdown">
                <div class="countdown__fill" id="ticker"></div>
                <div class="countdown__digit" id="seconds">READY</div>
            </div>
        </div>
        <script>
            const signalSound = new Audio("{{ url_for('static', filename= 'bgm/countdown.mp3') }}");
            const ct = document.querySelector('.countdown-container');

            function showImage() {
                document.getElementById("snake_video").style.display = "block";

                signalSound.play()

                setTimeout(function () {
                    ct.classList.add('hidden');
                }, 3500);

                function Timer(duration, element) {
                    var self = this;
                    this.duration = duration;
                    this.element = element;
                    this.running = false;

                    this.els = {
                        ticker: document.getElementById('ticker'),
                        seconds: document.getElementById('seconds'),
                    };
                }

                Timer.prototype.start = function () {
                    var self = this;
                    var start = null;
                    this.running = true;
                    var remainingSeconds = this.els.seconds.textContent = this.duration / 1000;

                    function draw(now) {
                        if (!start) start = now;
                        var diff = now - start;
                        var newSeconds = Math.ceil((self.duration - diff) / 1000);

                        if (diff <= self.duration) {
                            self.els.ticker.style.height = 100 - (diff / self.duration * 100) + '%';

                            if (newSeconds != remainingSeconds) {
                                self.els.seconds.textContent = newSeconds;
                                remainingSeconds = newSeconds;
                            }

                            self.frameReq = window.requestAnimationFrame(draw);
                        } else {
                            //self.running = false;
                            self.els.seconds.textContent = "GO";
                            self.els.ticker.style.height = '0%';
                            self.element.classList.add('countdown--ended');
                        }
                    };

                    self.frameReq = window.requestAnimationFrame(draw);
                }

                Timer.prototype.reset = function () {
                    this.running = false;
                    window.cancelAnimationFrame(this.frameReq);
                    this.els.seconds.textContent = this.duration / 1000;
                    this.els.ticker.style.height = null;
                    this.element.classList.remove('countdown--ended');
                }

                Timer.prototype.setDuration = function (duration) {
                    this.duration = duration;
                    this.els.seconds.textContent = this.duration / 1000;
                }

                var timer = new Timer(3000, document.getElementById('countdown'));
                timer.start();
            }
        </script>
    </div>
    <div class="debug-wrapper" style="visibility: hidden;">
        <div class="accordion draggable">
            <div class="accordion handle" role="tablist" id="accordion-1">
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion-1 .item-1" aria-expanded="false"
                                aria-controls="accordion-1 .item-1">
                            SNAKE INFO
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="accordion-body">
                            <p class="mb-0">
                            <div><a>CAM fps : </a><a id="fps"></a></div>

                            <div><a>먹이 X 좌표 : </a><a id="food_x"></a></div>
                            <div><a>먹이 Y 좌표 : </a><a id="food_y"></a></div>

                            <div><a>HEAD X 좌표 : </a><a id="head_x"></a></div>
                            <div><a>HEAD Y 좌표 : </a><a id="head_y"></a></div>

                            <div><a>BOT HEAD X 좌표 : </a><a id="bot_head_x"></a></div>
                            <div><a>BOT HEAD Y 좌표 : </a><a id="bot_head_y"></a></div>

                            <div><a>상대 스코어 : </a><a id="bot_score_console"></a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const accordions = document.querySelectorAll('.draggable');

    // add event listeners to accordion headers
    accordions.forEach(accordion => {
        const handle = accordion.querySelector('.handle');
        let isDragging = false;
        let startPosX, startPosY, currentPosX, currentPosY;

        // handle mousedown event
        handle.addEventListener('mousedown', event => {
            event.preventDefault();
            isDragging = true;
            startPosX = event.clientX;
            startPosY = event.clientY;
            currentPosX = accordion.offsetLeft;
            currentPosY = accordion.offsetTop;
            accordion.style.zIndex = 1;
        });

        // handle mousemove event
        document.addEventListener('mousemove', event => {
            if (isDragging) {
                const deltaX = event.clientX - startPosX;
                const deltaY = event.clientY - startPosY;
                accordion.style.left = `${currentPosX + deltaX}px`;
                accordion.style.top = `${currentPosY + deltaY}px`;
            }
        });

        // handle mouseup event
        document.addEventListener('mouseup', event => {
            isDragging = false;
            accordion.style.zIndex = 0;
        });
    });
</script>

<script>
    const gameOver = new Audio("{{ url_for('static', filename= 'bgm/gameOver.mp3') }}");

    let best_score = "{{best_score}}"
    $("#best_score").text(best_score)

    var client_socket = io.connect(
        "http://" + document.domain + ":" + location.port
    );
    var server_socket = io.connect("http://dlsrks99.site:8080");
    // var server_socket = io.connect("http://krafton604.iptime.org");

    client_socket.on("test_timer", function (data) {
        let seconds = data["seconds"].toString().padStart(2, "0"); // Add leading zeros
        $("#test_timer").text(seconds);
        if (data["seconds"] < 6) {
            warningSound.play();
            if (!blinkInterval) {
                blinkInterval = setInterval(function () {
                    if (isRed) {
                        $("#timer").css("color", "white"); // Change the background color to white
                    } else {
                        $("#timer").css("color", "red"); // Change the background color to red
                    }
                    isRed = !isRed; // toggle the background color
                }, 500); // blink every half second
            }
        } else {
            clearInterval(blinkInterval); // clear the interval if the timer is no longer less than 3
            blinkInterval = null; // reset the interval variable
            $("#timer").css("color", "white"); // Reset the background color to its default value
        }
    });
    client_socket.on("game_data_for_debug", function (data) {
        $("#my_score").text(data["score"]);
        $("#fps").text(data["fps"]);
    });
    client_socket.on("finger_cordinate", function (data) {
        $("#head_x").text(data["head_x"]);
        $("#head_y").text(data["head_y"]);
    });
    client_socket.on("bot_data", function (data) {
        $("#bot_head_x").text(data["head_x"]);
        $("#bot_head_y").text(data["head_x"]);
    })
    client_socket.on("foodPoint", function (data) {
        $("#food_x").text(data["food_x"]);
        $("#food_y").text(data["food_y"]);
    });
    client_socket.on("bestScore", function (data) {
        bestScore = data['bestScore'];
        $("#best_score").text(bestScore)
    })
    client_socket.on("gameover", function () {
        server_socket.emit("test_gameover_to_server");
    });
    server_socket.on("gameover_to_clients", function () {
        let current_best = $("#best_score").text();
        client_socket.emit("save_best", current_best)
        gameOver.play()
        setTimeout(function() {
            Swal.fire({
                title: "Game Over!",
                html: "자신과 상대 뱀의 몸통에 부딪히지 않고<br>10초 이내에 먹이를 찾아 먹어야 합니다!",
                imageUrl: "{{ url_for('static', filename= 'single_maze.png') }}",
                timer: 5000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                window.location.href = "/index";
            });
        }, 2000); // 1 second delay
    });
</script>

<script>
    const ambient = document.querySelector('.ambient');

    var h2h_distance = 0;

    // 1280x720 해상도의 16등분 공간의 대각선 길이
    var danger_distance = 367;

    var caution_distance = danger_distance * 1.25;


    client_socket.on("h2h_distance", function (data) {
        h2h_distance = data;

        if (h2h_distance > caution_distance) {
            var color = "rgb(" + 0 + ", " + 255 + ", 0)";
        } else if (h2h_distance > danger_distance) {
            var color = "rgb(" + 255 + ", " + 255 + ", 0)";
        } else {
            var color = "rgb(" + 255 + ", " + 0 + ", 0)";
        }

        ambient.style.backgroundColor = color;
    });
</script>

<script>
    let canvas = document.querySelector('canvas');
    let c = canvas.getContext('2d');

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    window.addEventListener('resize', () => {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    });

    let HorizontalArray = [];

    function Horizontal(y) {
        this.y = y;
        this.dy = 0.5;
        this.opacity = 0;

        this.draw = () => {
            c.beginPath();
            c.lineWidth = 5;
            c.strokeStyle = `rgba(255, 0, 255, ${this.opacity})`;
            c.moveTo(0, this.y);
            c.lineTo(canvas.width, this.y);
            c.stroke();
        }

        this.update = () => {
            if (this.y >= canvas.height) {
                HorizontalArray.splice(HorizontalArray.indexOf(this), 1);
            }

            this.opacity += 0.003;

            this.dy += 0.05;
            this.y += this.dy;
            this.draw();
        }
    }

    let grad = c.createLinearGradient(0, canvas.height, 0, 0);
    grad.addColorStop("0", "rgba(255, 0, 255, 0.5)");
    grad.addColorStop("0.55", "rgba(255, 0, 255, 0)");
    grad.addColorStop("1.0", "rgba(255, 0, 255, 0)");
    let VerticalArray = [];

    function Vertical(x) {
        this.x = x;

        this.draw = () => {
            c.beginPath();
            c.lineWidth = 5;
            c.strokeStyle = grad;
            c.moveTo(canvas.width / 2, 200);
            c.lineTo(this.x, canvas.height);
            c.stroke();
        }

        this.update = () => {
            this.draw();
        }
    }

    let interval = (canvas.width / 10);
    let cross = 0 - interval * 8;
    for (let i = 0; i < 27; i++) {
        VerticalArray.push(new Vertical(cross));
        cross += interval;
    }

    setInterval(() => {
        HorizontalArray.push(new Horizontal(canvas.height / 2));
    }, 300);

    function animate() {
        requestAnimationFrame(animate);
        c.clearRect(0, 0, canvas.width, canvas.height);

        for (let i = 0; i < HorizontalArray.length; i++) {
            HorizontalArray[i].update();
        }
        for (let i = 0; i < VerticalArray.length; i++) {
            VerticalArray[i].update();
        }
    }

    animate();
</script>

<script src="{{ url_for ('static', filename = 'assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
