<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>SNAKE</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- 소켓 통신 관련 부분은 영상을 gen하는 것보다 빨라야 하기 때문에 위쪽에 위치 -->
  <script>
    var client_socket = io.connect(
      "http://" + document.domain + ":" + location.port
    );
    // var server_socket = io.connect("http://krafton604.iptime.org");
    var server_socket = io.connect("http://dlsrks99.site:8080");

    let room_id = "{{room_id}}";
    let sid = "{{sid}}";

    console.log(room_id);
    console.log(sid);

    // 서버와 통신개시 후 포트를 요청
    server_socket.on("connect", function () {
      server_socket.emit('my_port', { 'room_id': room_id });
    });
    // 서버에서 받은 나의 포트를 로컬 flask 서버로 전송
    server_socket.on("my_port", function (data) {
      console.log(data['my_port'])
      client_socket.emit('my_port', { 'my_port': data['my_port'] })
      $("#snake_video").attr("src", "{{ url_for('snake') }}")
    });
    // 서버에서 받은 상대의 주소를 로컬 flask 서버로 전송
    server_socket.on('opponent_address', function (data) {
      console.log(data['ip_addr'], data['port'])
      client_socket.emit('opponent_address', { 'ip_addr': data['ip_addr'], 'port': data['port'], 'sid':sid })
    });
  </script>
</head>

<body>
  <h1>snake.html</h1>
  <div>
    <h1 style="display: inline">SCORE :</h1>
    <h1 style="display: inline" id="score">0</h1>
  </div>

  <img id="snake_video" src="" />
  <div><a>몸통 리스트 : </a><a id="body_node"></a></div>
  <div><a>내 점수 : </a><a id="my_score"></a></div>
  <div id="time"></div>
  <div><a>상대 몸통 리스트 : </a><a id="opp_body_node"></a></div>
  <div><a>상대 스코어 : </a><a id="opp_score"></a></div>
  <div><a>상대 room_id : </a><a id="opp_room_id"></a></div>
  <div><a>상대 sid : </a><a id="opp_sid"></a></div>
  <script>
    // 서버에서 시간 요청하기
    server_socket.emit("get_time");
    // 서버에서 받은 시간 페이지에 적용
    server_socket.on("time", function (data) {
      $("#time").html(data["time"]);
    });
    // 로컬에서 보낸 내 위치 서버에게 보내기
    client_socket.on("game_data", function (data) {
      $("#body_node").text(data["body_node"]);
      server_socket.emit("send_data", {
        body_node: data["body_node"],
        room_id: room_id
      });
    });
    // 서버에서 받은 상대 위치 내 로컬에 보내기
    server_socket.on("opp_data", function (data) {
      $("#opp_body_node").text(data["opp_body_node"]);
      client_socket.emit("opp_data_transfer", { data: data });
    });
    // 내가 먹이를 먹은 경우, 서버에게 알리기
    client_socket.on('user_ate_food', function (data) {
      $("#my_score").text(data["score"]);
      server_socket.emit('user_ate_food', {'score':data["score"], 'room_id':room_id});
    })
    // 내가 먹이를 먹은 경우, 서버에게 새로운 먹이 위치를 받은 것을 로컬에게 보냄
    server_socket.on('ate_user', function (data) {
      client_socket.emit('set_food_location', {'foodPoint':data['foodPoint']});
    })
    // 상대가 먹이를 먹은 경우, 서버에게 받은 새 먹이위치와 상대점수 로컬에게 보냄
    server_socket.on('ate_user_opp', function (data) {
      $("#opp_score").text(data["opp_score"]);
      client_socket.emit('set_food_location_score', {'foodPoint':data['foodPoint'], 'opp_score':data['opp_score']});
    })
    // 상대가 탈주한 경우(매칭 중 또는 서버로 게임하던 중)
    server_socket.on('opponent_escaped', function() {
      alert("상대가 떠났습니다.")
      window.location.href = '/'
    })
  </script>
</body>

</html>